
html {
    text-align: justify;
    background-color: lightSteelBlue;
}

.AlignCenter    { text-align: center; }
.AlignJustify   { text-align: justify; }
.AlignLeft      { text-align: left; }
.AlignRight     { text-align: right; }

.PureRed        { color: #FF0000; }
.PureOrange     { color: #FF8800; } 
.PureYellow     { color: #FFFF00; }
.PureGreen      { color: #00FF00; }
.PureCyan       { color: #00FFFF; }
.PureBlue       { color: #0000FF; }
.PurePurple     { color: #AA00FF; }
.PurePink       { color: #FF00AA; }

.Maroon         { color: maroon; }
.DarkRed        { color: darkred; }
.Brick          { color: brown; }
.FireBrick      { color: firebrick; }
.Crimson        { color: crimson; }
.Red            { color: red; }
.Salmon         { color: salmon }
.Orange         { color: orange; }
.Yellow         { color: yellow; }
.DarkGreen      { color: darkgreen; }
.Green          { color: green; }
.Forest         { color: forestgreen; }
.Lime           { color: limegreen; }
.NeonGreen      { color: chartreuse; }
.Aqua           { color: aqua; }
.Cyan           { color: cyan; }
.SkyBlue        { color: lightskyblue }
.LightBlue      { color: dodgerblue; }
.Blue           { color: blue; }
.DarkBlue       { color: darkblue; }
.BlueViolet     { color: blueviolet; }
.DarkOrchid     { color: darkorchid; }
.DarkViolet     { color: darkviolet; }
.Indigo         { color: indigo; }
.Purple         { color: rebeccapurple; }
.WarmPurple     { color: purple; }
.Violet         { color: violet; }
.Plum           { color: plum; }
.DarkPink       { color: mediumvioletred; }
.Magenta        { color: magenta; }
.HotPink        { color: deeppink; }

.PastelOrange   { color: lightsalmon;}
.PastelPink     { color: lightpink}
.PastelRose     { color: mistyrose}
.PastelLavender { color: lavenderblush;}
.PastelGreen    { color: palegreen;}
.PastelBlue     { color: paleturquoise;}
.PastelCyan     { color: lightcyan;}
.PastelYellow   { color: lemonchiffon;}

.Lavender       { color: lavender;}

.Brown          { color: saddlebrown;}
.Gold           { color: gold};
.DarkGold       { color: goldenrod;}
.Silver         { color: silver;}
.LightSteel     { color: lightsteelblue;}
.darkSteel      { color: steelblue;}

.StartButton {
    width: auto;
    text-align: center;
    font-size: 250%;
    padding: 10px 25px;
    border-radius: 25%;
    border: 5px solid darkBlue;
    color: darkBlue;
    font-weight: bold;
    background-color: white;
}

.Title {
	font-size: 500%;
	text-align: center;
	margin: 0;
}
	
.Separator {
	width: 100%;
	height: 5px;
	background-color: darkBlue;
	font-size: 0px;
}
